

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">

          <div class="img-margin-left">
            <%= image_tag("http://res.cloudinary.com/dvj9whqch/image/upload/v1467033784/cupdownq_btrsop.png") %>
          </div>
          <div class="white-card">
            <h3 class="margin-top">
             Pending Cuppa
           </h3>
           <% unless @pots.empty? %>
           <% @pots.each do |pot| %>
           <%= pot.start_date %>
           <br>
           <% pot_location = pot.location_id %>
           <% location = Location.find(pot_location) %>
           <%= location.name %>

           <%= form_tag dashboard_pot_path(pot), method: :destroy do %>
           <%= submit_tag("cancel") %>
           <% end %>
           <% end %>
           <% else %>

           <p>You don't have a cuppa! Make a pot!</p>

           <% end %>
         </div>
       </div>


       <div class="col-xs-12 col-sm-4">

         <div class="img-margin-left">
           <%= image_tag("http://res.cloudinary.com/dvj9whqch/image/upload/v1467032314/dashboardcuppabean_tntpqi.png") %>
         </div>
         <div class="white-card">
           <h3 class="margin-top">
            Your Cuppa Date
          </h3>
          <% unless @confirmed_cups.empty? %>
          <% @confirmed_cups.each do |cup| %>
          <%= cup.date %>
          <%= cup.name %>
          <%= form_tag cancel_dashboard_cup_path(cup), method: :patch do %>
          <%= submit_tag("cancel") %>
          <% end %>
          <% end %>
          <% else %>


          <p>You don't have a cuppa! Cuppa?</p>


          <% end %>
        </div>
      </div>


      <div class="col-xs-12 col-sm-4">

        <div class="img-margin-left">
          <%= image_tag("http://res.cloudinary.com/dvj9whqch/image/upload/v1467033704/cupcancel_tuyzql.png") %>
        </div>
        <div class="white-card">
          <h3 class="margin-top">
            Canceled Cuppa
          </h3>
          <% unless @canceled_cups.empty? %>
          <% @canceled_cups.each do |cup| %>
          <%= cup.date %>
          <br>
          <%= cup.location.name %>
          <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </div>

  <div class="wrapper" id="friend-list">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="white-container">
            <h3>
             Your pending request
           </h3>
           <% @user.pending_invited.each do |pending| %>
           <%= pending.email %>
           <%= form_tag friend_path(pending), method: :delete do %>
           <%= submit_tag("cancel") %>
           <% end %>
           <% end %>
         </div>
       </div>

       <div class="col-xs-12 col-sm-4">
        <div class="white-container">
         <h3>
          Friends' pending request
        </h3>
        <% @user.pending_invited_by.each do |pending|  %>
        <%= pending.email %>
        <%= form_tag friend_path(pending), method: :patch do %>
        <%= submit_tag "Approve friend" %>
        <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 aligh-button">

     <div class="button-blue text-center">
      <%= link_to("View Friends", friends_url, class: "profile-link") %>
    </div>

    <div class="button-blue text-center">
      <%= link_to("Edit Profile", edit_user_registration_url, class: "profile-link") %>
    </div>
  </div>
</div>

</div>
</div>

