
<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <div class="white-container">
        <h3>
          Friends
        </h3>
        <% @user.friends.each do |friend| %>
        <%= friend.email %>
        <%= form_tag friend_path(friend), method: :delete do %>
        <%= submit_tag("delete") %>
        <% end %>
        <% end %>

        <h3>
         Your pending request
       </h3>
       <% @user.pending_invited.each do |pending| %>
       <%= pending.email %>
       <%= form_tag friend_path(pending), method: :delete do %>
       <%= submit_tag("cancel") %>
       <% end %>
       <% end %>

       <h3>
        Friends' pending request
      </h3>
      <% @user.pending_invited_by.each do |pending|  %>
      <%= pending.email %>
      <%= form_tag friend_path(pending), method: :patch do %>
      <%= submit_tag "Approve friend" %>
      <% end %>
      <% end %>
    </div>

    <br>
    <div class="button-blue text-center">
      <%= link_to("Edit Profile", edit_user_registration_url, class: "profile-link") %>
    </div>

  </div>

  <div class="col-xs-3">
   <h3>
     Pending Cuppa
   </h3>
   <% if @cup %>
   <% @cup.each do |cup| %>
   <%= cup.pending %>
   <%= form_tag dashboard_pot_path(pending), method: :delete do %>
   <%= submit_tag("cancel") %>
   <% end %>
   <% end %>
   <% else %>

   <%= puts "You don't have a cuppa! Make a pot!" %>

   <% end %>
 </div>

 <div class="col-xs-3">
   <h3>
    Your Cuppa Date
  </h3>

</div>

<div class="col-xs-3">
 <h3>
  Canceled Cuppa
</h3>

</div>

</div>
<!-- <div class="row">
  <div class="col-xs-3">
  <div class="button-blue profile-style-dashboard">
    <%= link_to("Edit Profile", edit_user_registration_url, class: "profile-link") %>
  </div>
  </div>
</div> -->
</div>


