<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= simple_form_for [:dashboard, @pot] do |form| %>
      <%= select_tag "friend_ids[]", options_for_select(@friends.map { |friend| [friend.username, friend.id, "data-img-src" => friend.photo.url] }), multiple: true, class: "js-pot--friends-picker" %>


      <%= form.association :location, as: :hidden %>

      <div id="map" style="width: 100%; height: 600px;"></div>

      <% content_for(:after_js) do %>
      <%= javascript_tag do %>
      $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
      markers = handler.addMarkers(<%= raw @markers.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  })
  <% end %>
  <% end %>

  <div class="location-text">
  <br>
   <h1>
    Your location is <span class="js-pot--selected-location">not selected</span>
  </h1>
</div>


<%= form.input :start_date %>
<%= form.input :end_date %>
<%= form.input :time_10 %>
<%= form.input :time_12 %>
<%= form.input :time_2 %>
<%= form.input :time_4 %>
<%= form.input :time_6 %>
<%= form.submit %>
<% end %>
</div>
</div>
</div>



<!-- MAP HERE (jay is going to do it!)-->

